body {
	font-family: 'SimSun', serif;
}

.tiptap {
	min-height: 90vh;
}
.tiptap:focus,
input:focus {
	outline: none;
}
p.is-editor-empty:first-child::before {
	color: lightgray;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
.tiptap p {
	font-size: 1rem;
}
